{% extends 'base.html' %}

{% block title %}
  About | Flock Tex
{% endblock %}

{% block content %}

<div class='container'>
  <div class='row'>
    <img src='{{url_for("static", filename="images/about_sq.jpg")}}'
class='col-md-5 col-xs-12 col-sd-12 img-responsive img-thumbnail'>
    <p class='col-md-7 col-xs-12 col-sd-12' style='font-size:1.5em;font-weight:bold'>
      Our company specializes in providing a high quality laser cutting solution
      customized for the textile industry.<br><br>
      The use of advanced vision technology along with the industry specific
      requirements makes us a unique player in the global market.<br><br>
      We provide comprehensive innovative advanced laser solution for utting
      digital printed, embroidered, shoes, lingerie/undergarment and double
      layered material.
    </p>
  </div>
</div>
{% endblock %}
