{% extends 'base.html' %}

{% block title %}
  About | Flock Tex
{% endblock %}

{% block content %}

<div class='container'>
  <div class='row'>
    <p class='col-md-8 col-xs-12 col-sd-12'>
      Our company specializes in providing a high quality laser cutting solution
      customized for the textile industry.
      The use of advanced vision technology along with the industry specific
      requirements makes us a unique player in the global market.
      We provide comprehensive innovative advanced laser solution for utting
      digital printed, embroidered, shoes, lingerie / undergarment and double
      layered material.
    </p>

  </div>
</div>
{% endblock %}
