{% extends 'base.html' %}

{% block title %}
Contact Us | Flock Tex
{% endblock %}

{% block content %}
<div class='container'>
  <div class='row'>
    <div class='contact-card col-md-4 col-sd-12 col-xs-12'>
      {% for phone in phones %}
        <div class='row'>
        <a href='tel:{{phone["number"]}}' class="fa fa-phone col-md-1 col-sd-1 col-xs-1"></a>
        <div class='col-md-11 col-sd-11 col-xs-11'>
          {{phone["name"]}}<br>
          <a href='tel:{{phone["number"]}}'>{{phone["number"]}}</a><br>
        </div>
        </div>
      {% endfor %}

      {% for email in emails %}
        <div class='row'>
        <a href='mailto:{{email}}' class='fa fa-envelope col-md-1 col-xs-1 col-sd-1'></a>
        <span class='col-md-11 col-xs-11 col-sd-11'><a href='mailto:{{email}}'>{{email}}</a></span><br>
        </div>
      {% endfor %}

      <div class='row'>
        <i class='fa fa-map-marker col-md-1 col-sd-1 col-xs-1'></i>
        <span class='col-md-11 col-sd-11 col-xs-11'>{{address}}</span><br>
      </div>
    </div>
  </div>
</div>
{% endblock %}
