<!doctype html>
<html>
  <head>
    <title>Flock Tex | {{name}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  </head>
  <body>
    <div>
      <h1 style='padding:0;margin:0'>Flock Tex</h1>
      <h4 style='padding:0;margin:0'>Automation with Precision</h4><br>
      <table border='1'>
        <tr>
          <td>Name</td>
          <td>{{name}}</td>
        </tr>
        <tr>
          <td>Phone No.</td>
          <td><a href='tel:{{phone}}'>{{phone}}</a></td>
        </tr>
        <tr>
          <td>Email</td>
          <td><a href='mailto:{{email}}'>{{email}}</a></td>
        </tr>
        <tr>
          <td>Address</td>
          <td>{{address}}</td>
        </tr>
      </table>
    </div>
  </body>
</html>
